.principalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;

}

.formImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;

}