.imageAvatar {
    display: flex;
    align-items: center;
    width: 140px;
    object-fit: cover;
    height: 140px;
    border-radius: 50%;
}

.toggleDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}